@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 24, 24, 27;
  --background-rgb: 250, 246, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FAF6F0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.bg-grid-pattern {
  background-size: 30px 30px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}
